/.vagrant/
/wordpress/
/latest.tar.gz
.bashrc
.DS_Store

google-key.json
.terraform.lock.hcl
terraform-google-cloud-examples
terraform.tfvars
terraform.tfstate
terraform.tfstate.backup
terraform-account.json
.terraform.lock.hcl
projects/terraform-google-cloud-examples
terraform-account.json
.terraform.tfstate.lock.info
authorized_keys
newnationchurch-3*
errored.tfstate